@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
* {
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  word-wrap: break-word; }

/* Light selection rather than dark with inverted text */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* More sensible positioning behaviour for img elements */
img {
  vertical-align: middle; }

/* Resizing horizontally is unncessary and can cause ugliness */
textarea {
  resize: vertical; }

/* Link behaviour appropriate in more contexts */
a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* Make placeholder text consistent across browsers */
::-webkit-input-placeholder {
  color: #999; }
::-moz-placeholder {
  color: #999; }
:-ms-input-placeholder {
  color: #999; }
::placeholder {
  color: #999; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

h1, h2, h3, h4 {
  font-weight: 300; }

h5, h6 {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.7em; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 1.1rem; }

b,
strong,
th {
  font-weight: 500; }

.small {
  font-size: 0.9em; }

.icon {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400; }

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.spinner-container {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
  margin: 1em 0; }

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); } }

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); } }

.spinner-path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: spinner-dash 1.4s ease-in-out infinite, spinner-colors 5.6s ease-in-out infinite;
          animation: spinner-dash 1.4s ease-in-out infinite, spinner-colors 5.6s ease-in-out infinite; }

@-webkit-keyframes spinner-colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes spinner-colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@-webkit-keyframes spinner-dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

@keyframes spinner-dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg); } }

.Divider {
  display: block;
  background: -webkit-linear-gradient(left, transparent 0%, #999999 10%, #999999 90%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, #999999 10%, #999999 90%, transparent 100%);
  width: 80%;
  height: 1px;
  margin: 1.2em auto; }

.Table {
  width: 100%; }
  .Table > tbody > tr > td {
    padding: 0.8em; }
    .Table > tbody > tr > td:first-child {
      padding-left: 1.6em; }
    .Table > tbody > tr > td:last-child {
      padding-right: 1.6em; }
  .Table > thead,
  .Table > tbody {
    border: 1px solid #d0dce2; }
  .Table.sortable > thead > tr > th:not(:empty):hover {
    cursor: pointer; }
  .Table > thead {
    background-color: #e8eff3;
    border-bottom: 1px solid #9cbac9;
    font-size: 1.07em; }
    .Table > thead > tr > th {
      padding: 0.6em;
      font-weight: normal;
      letter-spacing: 0.04em;
      text-align: center;
      text-shadow: 1px 0 1px #cccccc; }
      .Table > thead > tr > th:first-child {
        padding-left: 1.2em; }
      .Table > thead > tr > th:last-child {
        padding-right: 1.2em; }
  .Table.grid > thead > tr > th,
  .Table.grid > tbody > tr > td {
    border-right: 1px solid #d0dce2;
    border-left: 1px solid #d0dce2; }
  .Table.grid > thead > tr > th {
    padding: 0.6em; }
  .Table.grid > tbody > tr > td {
    padding: 0.8em; }
  .Table > thead + tbody > tr:nth-child(odd) {
    background-color: #f1f6f9; }
  .Table > thead + tbody > tr:nth-child(even) {
    background-color: #eaf2f6; }
  .Table > tbody > tr:nth-child(odd) {
    background-color: #eaf2f6; }
  .Table > tbody > tr:nth-child(even) {
    background-color: #f1f6f9; }
  .Table > .Table-divider {
    background-color: transparent;
    border: none; }
    .Table > .Table-divider > tr {
      background-color: transparent !important; }
      .Table > .Table-divider > tr > td {
        padding: 0;
        width: 100%; }
        .Table > .Table-divider > tr > td:before {
          display: block;
          background: -webkit-linear-gradient(left, transparent 0%, #999999 10%, #999999 90%, transparent 100%);
          background: linear-gradient(to right, transparent 0%, #999999 10%, #999999 90%, transparent 100%);
          width: 80%;
          height: 1px;
          margin: 1.2em auto;
          content: " "; }

.Table-button {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  line-height: 1;
  padding: 0.6em 0.8em;
  text-decoration: none;
  vertical-align: middle;
  background: #f5f8fa;
  border-color: #a5c0ce;
  color: #233640;
  padding: 0.4em;
  font-size: 0.8em; }
  .Table-button:not(:disabled):not(.selected):hover {
    cursor: pointer;
    text-decoration: none; }
  .Table-button:not(:disabled):not(.selected):hover {
    background: #e5edf1; }
  .Table-button:not(:disabled):not(.selected):active {
    box-shadow: 0 0.5em 0.7em #d5e2e8 inset; }
  .Table-button:disabled, .Table-button.selected {
    background: #f7f8f8;
    border-color: #b2bcc1;
    color: #2c3337; }
    .Table-button:disabled:hover, .Table-button.selected:hover {
      cursor: default; }

.Clarify {
  position: relative;
  bottom: 0.5em;
  font-size: 0.8em; }

.Countdown {
  font-size: 1.2em;
  margin: 1em 0;
  text-align: center; }

.Flash {
  font-size: 0.8em;
  padding: 1em;
  margin: 1em 0;
  background: #d1e6f0;
  border: 0.1em solid #8ec0d9;
  color: #1c4154; }
  .Flash.big {
    font-size: 0.9em; }
  .Flash.error {
    background: #f0d1d1;
    border: 0.1em solid #d98e8e;
    color: #541c1c; }
  .Flash p {
    margin: 0; }
  .Flash p:not(:first-child) {
    margin-top: 1em; }

.noselect, .Table.sortable > thead > tr > th, .Table-button:disabled, .Table-button.selected, .Form input[type="submit"]:disabled, .Fixture-form input[type="submit"]:disabled, .Form input[type="submit"].selected, .Fixture-form input[type="submit"].selected, .Site-logo .Site-logo--beta, .Players.sortable > thead > tr > th, .Game-score--submit input:disabled, .Game-score--submit input.selected, .Game-creaters li a:disabled, .Game-creaters li a.selected {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.Form label, .Fixture-form label {
  color: #666;
  display: block;
  font-weight: 500;
  font-size: 0.85em;
  font-variant: small-caps;
  text-shadow: 0 1px 1px #fff; }

.Form input[type="text"], .Fixture-form input[type="text"],
.Form input[type="password"], .Fixture-form input[type="password"],
.Form input[type="email"], .Fixture-form input[type="email"],
.Form input[type="url"], .Fixture-form input[type="url"],
.Form input[type="number"], .Fixture-form input[type="number"],
.Form input[type="search"], .Fixture-form input[type="search"],
.Form input[type="datetime"], .Fixture-form input[type="datetime"],
.Form textarea, .Fixture-form textarea,
.Form select, .Fixture-form select {
  background: #fcfcfc;
  border: 1px solid #aaa;
  padding: 0.25em;
  border-radius: 0.25em;
  width: 100%; }

.Form input[type="checkbox"], .Fixture-form input[type="checkbox"] {
  vertical-align: middle; }
  .Form input[type="checkbox"] + label, .Fixture-form input[type="checkbox"] + label {
    display: inline; }

.Form textarea, .Fixture-form textarea {
  margin-bottom: 0; }

.Form input[type="submit"], .Fixture-form input[type="submit"] {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  line-height: 1;
  padding: 0.6em 0.8em;
  text-decoration: none;
  vertical-align: middle;
  background: #b3e6b3;
  border-color: #66cc66;
  color: #143d14;
  font-size: 1.03em; }
  .Form input[type="submit"]:not(:disabled):not(.selected):hover, .Fixture-form input[type="submit"]:not(:disabled):not(.selected):hover {
    cursor: pointer;
    text-decoration: none; }
  .Form input[type="submit"]:not(:disabled):not(.selected):hover, .Fixture-form input[type="submit"]:not(:disabled):not(.selected):hover {
    background: #a3e0a3; }
  .Form input[type="submit"]:not(:disabled):not(.selected):active, .Fixture-form input[type="submit"]:not(:disabled):not(.selected):active {
    box-shadow: 0 0.5em 0.7em #94db94 inset; }
  .Form input[type="submit"]:disabled, .Fixture-form input[type="submit"]:disabled, .Form input[type="submit"].selected, .Fixture-form input[type="submit"].selected {
    background: #c3d5c3;
    border-color: #87ab87;
    color: #223022; }
    .Form input[type="submit"]:disabled:hover, .Fixture-form input[type="submit"]:disabled:hover, .Form input[type="submit"].selected:hover, .Fixture-form input[type="submit"].selected:hover {
      cursor: default; }

.Form *[disabled], .Fixture-form *[disabled] {
  background-color: #e6e6e6; }

.Form-item:not(:first-of-type),
.Form-group > .Form-item:first-of-type {
  margin-top: 1em; }

.Form-group:first-of-type > .Form-item {
  margin-top: 0; }

.Form-group > div {
  float: left;
  width: 100%; }
  .Form-group > div:not(:first-child) {
    padding-left: 0.5em; }
  .Form-group > div:not(:last-child) {
    padding-right: 0.5em; }
  @media (max-width: 40rem) {
    .Form-group > div {
      padding: 0 !important; } }

.Form-group.two > div {
  width: 50%; }

.Form-group.three > div {
  width: 33.33%; }

.Form-group.four > div {
  width: 25%; }

.Form-group.five > div {
  width: 20%; }

@media (max-width: 40rem) {
  .Form-group > div {
    width: 100% !important;
    padding: 0 !important; } }

.Form-note {
  color: #666;
  font-size: 0.85em;
  margin-top: 0.1em; }

.Form-caption--container {
  position: relative; }

.Form-caption {
  font-size: 0.9em;
  color: gray;
  position: absolute;
  right: 1.5em;
  top: 0.23em; }

.Form-error {
  box-shadow: 0 0 0.25em red; }

.Breakdown {
  cursor: pointer; }

.Breakdown-row td {
  padding-top: 0 !important; }

.Breakdown-row table {
  font-size: 0.9em; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden, .Team-player.subbing .fa-exchange, .Team-player:not(.subbing) .fa-close {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

.transparent {
  color: transparent; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *   `contenteditable` attribute is included anywhere else in the document.
 *   Otherwise it causes space to appear at the top and bottom of elements
 *   that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *   `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .Form-group:before, .Site-header:before,
.clearfix:after,
.Form-group:after,
.Site-header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, .Form-group:after, .Site-header:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix, .Form-group, .Site-header {
  *zoom: 1; }

/*
 * Margin as class name
 */
.spaced {
  margin-top: 1em;
  margin-bottom: 1em; }

/*
 * Line-height as class name
 */
.flat {
  line-height: 0; }

/*
 * Clear the default style of <button> elements, to contain .fa icons that submit forms
 */
.button-reset, .Players-panel .Player .Player-online button {
  background: none;
  padding: 0;
  border: none; }

body {
  background-color: #fafafa;
  color: #222;
  font-size: 100%;
  padding-bottom: 100vh; }

.loading:hover {
  cursor: wait; }

.Document {
  box-shadow: 0 0 3px #b6b6b6;
  background-color: #fefefe;
  padding: 0.01em 1em 0.3em 1em; }

.Site-header {
  background-color: white;
  border-bottom: 0.15em solid #b3b3b3;
  padding: 0.3em;
  margin-bottom: 1em; }

.Site-header--container {
  margin: 0 auto;
  max-width: 54em; }
  .Site-header--container ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .Site-header--container ul li {
      display: inline-block;
      padding: 0.2em 0.6em; }
      .Site-header--container ul li a {
        text-decoration: none;
        color: inherit; }
      .Site-header--container ul li a:hover {
        color: blue; }

.Site-logo {
  position: relative; }
  .Site-logo a {
    font-weight: 500; }
  .Site-logo .Site-logo--beta {
    position: absolute;
    right: 0;
    bottom: -0.3em;
    font-size: 0.7em;
    font-weight: 500;
    color: red; }

.Site-header--global {
  float: left; }

.Site-header--user {
  float: right; }

.Site-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .Site-content > * {
    -ms-flex-preferred-size: 54em;
        flex-basis: 54em;
    max-width: 100vw; }

.Admin-panel {
  background-color: #f2f2f2;
  padding: 0.02em; }
  @media not all and (max-width: 40rem) {
    .Admin-panel {
      border-right: 0.15em solid #b3b3b3;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      overflow: auto;
      width: 12em; } }

@media not all and (max-width: 40rem) {
  .Site-main.sidebar {
    margin-left: 12em; } }

.Admin-panel--header {
  font-size: 1.2em;
  margin: 0.6em 0;
  text-align: center; }

.Players-panel {
  display: table;
  width: 100%; }
  .Players-panel .Player {
    display: table-row;
    background-color: #ecf1ea; }
    .Players-panel .Player:nth-child(odd) {
      background-color: #f1f5f0; }
    .Players-panel .Player div {
      display: table-cell;
      padding: 0.3rem 0.8rem; }
    .Players-panel .Player .Player-online {
      font-size: 0.5em;
      width: 1px;
      vertical-align: middle; }
      .Players-panel .Player .Player-online button {
        cursor: pointer; }
  .Players-panel .Player:hover {
    cursor: pointer; }
  .Players-panel .Player.online .fa-circle {
    color: lime; }

.Player-online--bulk {
  text-align: center;
  padding: 0.3rem; }
  .Player-online--bulk form {
    display: inline; }

.Admin-fields {
  margin: 1em 0; }

.Modes {
  list-style-type: none;
  margin: 1em 0;
  padding: 0;
  text-align: center; }
  .Modes li {
    display: inline-block;
    padding: 0 1em; }

.Players {
  width: 100%;
  margin: 1em 0; }
  .Players > tbody > tr > td {
    padding: 0.8em; }
    .Players > tbody > tr > td:first-child {
      padding-left: 1.6em; }
    .Players > tbody > tr > td:last-child {
      padding-right: 1.6em; }
  .Players > thead,
  .Players > tbody {
    border: 1px solid #d0dce2; }
  .Players.sortable > thead > tr > th:not(:empty):hover {
    cursor: pointer; }
  .Players > thead {
    background-color: #e8eff3;
    border-bottom: 1px solid #9cbac9;
    font-size: 1.07em; }
    .Players > thead > tr > th {
      padding: 0.6em;
      font-weight: normal;
      letter-spacing: 0.04em;
      text-align: center;
      text-shadow: 1px 0 1px #cccccc; }
      .Players > thead > tr > th:first-child {
        padding-left: 1.2em; }
      .Players > thead > tr > th:last-child {
        padding-right: 1.2em; }
  .Players.grid > thead > tr > th,
  .Players.grid > tbody > tr > td {
    border-right: 1px solid #d0dce2;
    border-left: 1px solid #d0dce2; }
  .Players.grid > thead > tr > th {
    padding: 0.6em; }
  .Players.grid > tbody > tr > td {
    padding: 0.8em; }
  .Players > thead + tbody > tr:nth-child(odd) {
    background-color: #f1f6f9; }
  .Players > thead + tbody > tr:nth-child(even) {
    background-color: #eaf2f6; }
  .Players > tbody > tr:nth-child(odd) {
    background-color: #eaf2f6; }
  .Players > tbody > tr:nth-child(even) {
    background-color: #f1f6f9; }
  .Players > .Table-divider {
    background-color: transparent;
    border: none; }
    .Players > .Table-divider > tr {
      background-color: transparent !important; }
      .Players > .Table-divider > tr > td {
        padding: 0;
        width: 100%; }
        .Players > .Table-divider > tr > td:before {
          display: block;
          background: -webkit-linear-gradient(left, transparent 0%, #999999 10%, #999999 90%, transparent 100%);
          background: linear-gradient(to right, transparent 0%, #999999 10%, #999999 90%, transparent 100%);
          width: 80%;
          height: 1px;
          margin: 1.2em auto;
          content: " "; }
  .Players td {
    text-align: center; }
  .Players th {
    white-space: nowrap; }

.Players-tag {
  width: 100%; }

.Players-rating:hover {
  font-size: 0; }
  .Players-rating:hover::after {
    font-size: 1rem;
    content: attr(data-precise); }

.Players-rating:not(:nth-child(4)) {
  color: #888; }

.Players-rank {
  width: 1px; }

.Fixture-header {
  font-size: 1.2em;
  text-align: center; }

.Fixture-start,
.Fixture-mode {
  display: inline; }

.Game {
  margin: 1em 0; }

.Game + .Game {
  margin-top: 2em; }

.Games .Divider {
  margin: 2em auto; }

.Game-scheduled {
  text-align: center;
  font-size: 1.15em;
  margin-bottom: 0.5em; }

.Teams {
  text-align: center; }

.Team {
  border-width: 0.12em;
  border-style: solid;
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  width: 13.5em;
  vertical-align: top; }
  .Team.red {
    background: #d4c4c4; }
    .Team.red, .Team.red .Team-score {
      border-color: #a88a8a; }
    .Team.red textarea {
      background: #e9e2e2; }
  .Team.blue {
    background: #c4c4d4; }
    .Team.blue, .Team.blue .Team-score {
      border-color: #8a8aa8; }
    .Team.blue textarea {
      background: #e2e2e9; }
  .Team.green {
    background: #c4d4c4; }
    .Team.green, .Team.green .Team-score {
      border-color: #8aa88a; }
    .Team.green textarea {
      background: #e2e9e2; }
  .Team.orange {
    background: #d4ccc4; }
    .Team.orange, .Team.orange .Team-score {
      border-color: #a8998a; }
    .Team.orange textarea {
      background: #e9e6e2; }
  .Team.cyan {
    background: #c4cfd4; }
    .Team.cyan, .Team.cyan .Team-score {
      border-color: #8a9ea8; }
    .Team.cyan textarea {
      background: #e2e7e9; }
  .Team.purple {
    background: #ccc4d4; }
    .Team.purple, .Team.purple .Team-score {
      border-color: #998aa8; }
    .Team.purple textarea {
      background: #e6e2e9; }
  .Team.yellow {
    background: #d4d4c4; }
    .Team.yellow, .Team.yellow .Team-score {
      border-color: #a8a88a; }
    .Team.yellow textarea {
      background: #e9e9e2; }
  .Team.pink {
    background: #d4c4c9; }
    .Team.pink, .Team.pink .Team-score {
      border-color: #a88a94; }
    .Team.pink textarea {
      background: #e9e2e4; }
  .Team.grey {
    background: #cccccc; }
    .Team.grey, .Team.grey .Team-score {
      border-color: #999999; }
    .Team.grey textarea {
      background: #e6e6e6; }
  .Team.grey {
    background: #cccccc; }
    .Team.grey, .Team.grey .Team-score {
      border-color: #999999; }
    .Team.grey textarea {
      background: #e6e6e6; }
  .Team textarea {
    resize: none;
    width: 100%; }

.Team-score {
  border-bottom-width: 0.07em;
  border-bottom-style: solid;
  margin: 0.3em;
  padding: 0.3em;
  font-size: 1.2em;
  text-align: center; }
  .Team-score input[type="text"] {
    background: transparent;
    border: 0;
    outline: 0;
    text-align: center;
    width: 4em; }

.Team-players {
  display: table;
  margin: 0.3em auto; }

.Team-player {
  display: table-row;
  position: relative; }
  .Team-player.placeholder {
    color: #666; }

.Team-player--swap,
.Team-player--name,
.Team-player--rating,
.Team-player--delta {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap; }

.Team-player--delta,
.Team-player--swap {
  font-size: 0.85em; }

.Team-player.subbing {
  outline: dotted 1px; }

.Team-player--swap {
  padding-left: 0.8em; }
  .Team-player--swap .fa {
    cursor: pointer; }

.Team-player--rating,
.Team-player--delta {
  padding: 0.4em 0.2em; }
  .Team-player--rating:last-child,
  .Team-player--delta:last-child {
    padding-right: 0.8em; }

.Team-player--name {
  width: 100%; }

.Fixture-form--generate-teams,
.Fixture-form--generate-draw,
.Fixture-form--get-draw {
  padding: 0.2em 0.4em; }

.Fixture-form--or {
  text-align: center;
  margin-top: 0.3em; }
  .Fixture-form--or::before, .Fixture-form--or::after {
    content: " — "; }

.Fixture-form--preset {
  text-align: center; }
  .Fixture-form--preset > .Form-item {
    margin-top: 0 !important;
    display: inline-block;
    text-align: start;
    float: none; }

.Game-score--submit {
  text-align: center; }
  .Game-score--submit input {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    line-height: 1;
    padding: 0.6em 0.8em;
    text-decoration: none;
    vertical-align: middle;
    background: #b3e6b3;
    border-color: #66cc66;
    color: #143d14; }
    .Game-score--submit input:not(:disabled):not(.selected):hover {
      cursor: pointer;
      text-decoration: none; }
    .Game-score--submit input:not(:disabled):not(.selected):hover {
      background: #a3e0a3; }
    .Game-score--submit input:not(:disabled):not(.selected):active {
      box-shadow: 0 0.5em 0.7em #94db94 inset; }
    .Game-score--submit input:disabled, .Game-score--submit input.selected {
      background: #c3d5c3;
      border-color: #87ab87;
      color: #223022; }
      .Game-score--submit input:disabled:hover, .Game-score--submit input.selected:hover {
        cursor: default; }

.Game-creaters {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .Game-creaters li {
    display: inline-block; }
    .Game-creaters li:not(:last-child) {
      margin-right: -1px;
      margin-bottom: -1px; }
    .Game-creaters li a {
      border-style: solid;
      border-width: 1px;
      display: inline-block;
      line-height: 1;
      padding: 0.6em 0.8em;
      text-decoration: none;
      vertical-align: middle;
      background: #bdd1db;
      border-color: #7aa3b8;
      color: #1d2d35; }
      .Game-creaters li a:not(:disabled):not(.selected):hover {
        cursor: pointer;
        text-decoration: none; }
      .Game-creaters li a:not(:disabled):not(.selected):hover {
        background: #afc8d4; }
      .Game-creaters li a:not(:disabled):not(.selected):active {
        box-shadow: 0 0.5em 0.7em #a2bfcd inset; }
      .Game-creaters li a:disabled, .Game-creaters li a.selected {
        background: #c7ced1;
        border-color: #8e9da4;
        color: #252a2d; }
        .Game-creaters li a:disabled:hover, .Game-creaters li a.selected:hover {
          cursor: default; }

.Draw-list--filters {
  margin: 1em 0; }

.Draw {
  margin: 1em 0; }

.Draw-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #aaa;
  border-radius: 0.25em;
  color: #444;
  padding: 0.25em; }

.Draw-manual--field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: transparent;
  border: 0;
  padding: 0; }

.Draw-expand,
.Draw-reload {
  cursor: pointer; }

.Draw-breakdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .Draw-breakdown:not(:empty) {
    margin-left: -1em; }
  .Draw-breakdown > * {
    margin: 1em 0 0 1em; }
  .Draw-breakdown td, .Draw-breakdown th {
    padding: 0.2em; }

.Draw-timeline td.red {
  background-color: #bf4040; }

.Draw-timeline td.blue {
  background-color: #4040bf; }

.Draw-timeline td.green {
  background-color: #40bf40; }

.Draw-timeline td.orange {
  background-color: #bf8040; }

.Draw-timeline td.cyan {
  background-color: #4095bf; }

.Draw-timeline td.purple {
  background-color: #8040bf; }

.Draw-timeline td.yellow {
  background-color: #bfbf40; }

.Draw-timeline td.pink {
  background-color: #bf406a; }

.Draw-timeline td.grey {
  background-color: gray; }

.Draw-timeline th {
  white-space: pre; }

.Draw-timeline,
.Draw-pairs {
  overflow: auto; }
  .Draw-timeline tr:first-child th,
  .Draw-pairs tr:first-child th {
    min-height: 1.4em;
    min-width: 1.4em;
    max-width: 1.4em;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0; }

.Draw-pairs td {
  text-align: center; }

.Draw-pairs--average,
.Draw-pairs--count {
  font-weight: 300; }

.Draw-generator--code:empty::after {
  color: #666;
  content: "Click 'setup' to start";
  display: inline; }

.Team--Balancer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .Team--Balancer > * + * {
    margin-top: 1em; }

.TB--Input {
  max-width: 12em;
  width: 100vh; }

.TB--Teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -1.3em; }
  .TB--Teams > * {
    margin-top: 1em;
    margin-left: 1.3em; }

.TB--Team--Sum {
  text-align: center;
  font-size: 1.3em; }

.TB--Team--Player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding: 0.3em 0.8em;
  border: 0.05em solid #b3b3b3;
  font-size: 1.2em; }
  .TB--Team--Player + * {
    margin-top: -0.05em; }

.TB--TP--Name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.TB--TP--Rating {
  margin-left: 0.6em; }

.TB--TP--Lock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border: 0.0625em solid #b3b3b3;
  border-radius: 1.5em;
  font-size: 0.8em;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  left: -0.75em; }
  .TB--TP--Lock .icon {
    position: relative;
    top: -0.05em; }
  .TB--TP--Lock:hover {
    box-shadow: 0 0 0.1em 0.05em #cccccc;
    cursor: pointer; }
