// ===========================================================================
// Layout
// ===========================================================================

body {
   background-color: hsla(0, 0%, 98%, 1);
   color: #222;
   font-size: 100%;

   padding-bottom: 100vh;
}

.loading:hover {
   cursor: wait;
}

.Document {
   @include material;
}

.Site-header {
   @extend .clearfix;
   background-color: white;
   border-bottom: 0.15em solid hsla(0, 0%, 70%, 1);
   padding: 0.3em;
   margin-bottom: 1em;
}

.Site-header--container {
   margin: 0 auto;
   max-width: $container-width;

   ul {
      display: inline-block;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
         display: inline-block;
         padding: 0.2em 0.6em;

         a {
            text-decoration: none;
            color: inherit;
         }

         a:hover {
            color: blue;
         }
      }
   }
}

.Site-logo {
   position: relative;

   a {
      font-weight: 500;
   }

   .Site-logo--beta {
      @extend .noselect;
      position: absolute;
      right: 0;
      bottom: -0.3em;
      font-size: 0.7em;
      font-weight: 500;
      color: red;
   }
}

.Site-header--global {
   float: left;
}

.Site-header--user {
   float: right;
}

.Site-content {
   display: flex;
   justify-content: center;

   & > * {
      flex-basis: $container-width;
      max-width: 100vw;
   }
}

.Admin-panel {
   background-color: hsla(0, 0%, 95%, 1);
   padding: 0.02em;

   @media #{$desktop} {
      border-right: 0.15em solid hsla(0, 0%, 70%, 1);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      overflow: auto;
      width: $panel-width;
   }
}

.Site-main.sidebar {
   @media #{$desktop} {
      margin-left: $panel-width;
   }
}

.Admin-panel--header {
   font-size: 1.2em;
   margin: 0.6em 0;
   text-align: center;
}

.Players-panel {
   display: table;
   width: 100%;
   $hue: 100;
   $sat: 20%;

   .Player {
      display: table-row;

      background-color: hsla($hue, $sat, 93%, 1);
      &:nth-child(odd) {
         background-color: hsla($hue, $sat, 95%, 1);
      }

      div {
         display: table-cell;
         padding: 0.3rem 0.8rem;
      }

      .Player-online {
         font-size: 0.5em;
         width: 1px;
         vertical-align: middle;

         button {
            @extend .button-reset;
            cursor: pointer;
         }
      }
   }

   .Player:hover {
      cursor: pointer;
   }

   .Player.online {
      .fa-circle {
         color: hsla(120, 100%, 50%, 1);
      }
   }
}

.Player-online--bulk {
   text-align: center;
   padding: 0.3rem;

   form {
      display: inline;
   }
}

.Admin-fields {
   margin: 1em 0;
}

.Modes {
   list-style-type: none;
   margin: 1em 0;
   padding: 0;

   text-align: center;

   li {
      display: inline-block;
      padding: 0 1em;
   }
}

.Players {
   @include striped-table;

   margin: 1em 0;

   td {
      text-align: center;
   }

   th {
      white-space: nowrap;
   }
}

.Players-tag {
   width: 100%;
}

.Players-rating:hover {
   font-size: 0;

   &::after {
      font-size: 1rem;
      content: attr(data-precise);
   }
}

.Players-rating:not(:nth-child(4)) {
   color: #888;
}

.Players-rank {
   width: 1px;
}

.Fixture-header {
   font-size: 1.2em;
   text-align: center;
}

.Fixture-start,
.Fixture-mode {
   display: inline;
}

.Game {
   margin: 1em 0;
}

.Game + .Game {
   margin-top: 2em;
}

.Games .Divider {
   margin: 2em auto;
}

.Game-scheduled {
   text-align: center;
   font-size: 1.15em;
   margin-bottom: 0.5em;
}

.Teams {
   text-align: center;
}

.Team {
   border-width: 0.12em;
   border-style: solid;
   display: inline-block;
   margin: 0.5em;
   text-align: center;
   width: 13.5em;
   vertical-align: top;

   $sat: 50%;
   $l: 80%;
   $lb: $l * 0.75;

   @each $color, $map in $team-colors {
      $hue: map_get($map, "hue");
      $sat: map_get($map, "sat");
      &.#{$color} {
         background: hsla($hue, $sat * .3, 80%, 1);
         &, .Team-score {
            border-color: hsla($hue, $sat * .3, 60%, 1);
         }
         textarea {
            background: hsla($hue, $sat * .3, 90%, 1);
         }
      }
   }
   &.grey {
      background: hsla(0, 0%, 80%, 1);
      &, .Team-score {
         border-color: hsla(0, 0%, 60%, 1);
      }
      textarea {
         background: hsla(0, 0%, 90%, 1);
      }
   }

   textarea {
      resize: none;
      width: 100%;
   }
}

.Team-score {
   border-bottom-width: 0.07em;
   border-bottom-style: solid;
   margin: 0.3em;
   padding: 0.3em;
   font-size: 1.2em;
   text-align: center;

   input[type="text"] {
      background: transparent;
      border: 0;
      outline: 0;
      text-align: center;
      width: 4em;
   }
}

.Team-players {
   display: table;
   margin: 0.3em auto;
}

.Team-player {
   display: table-row;
   position: relative;

   &.placeholder {
      color: #666;
   }
}

.Team-player--swap,
.Team-player--name,
.Team-player--rating,
.Team-player--delta {
   display: table-cell;
   vertical-align: middle;
   white-space: nowrap;
}

.Team-player--delta,
.Team-player--swap {
   font-size: 0.85em;
}

.Team-player.subbing {
   outline: dotted 1px;

   .fa-exchange {
      @extend .hidden;
   }
}

.Team-player:not(.subbing) .fa-close {
   @extend .hidden;
}

.Team-player--swap {
   padding-left: 0.8em;

  .fa {
      cursor: pointer;
   }
}

.Team-player--rating,
.Team-player--delta {
   padding: 0.4em 0.2em;

   &:last-child {
      padding-right: 0.8em;
   }
}

.Team-player--name {
   width: 100%;
}

.Fixture-form {
   @extend .Form;
}

.Fixture-form--generate-teams,
.Fixture-form--generate-draw,
.Fixture-form--get-draw {
   padding: 0.2em 0.4em;
}

.Fixture-form--or {
   text-align: center;
   margin-top: 0.3em;

   &::before,
   &::after {
      content: " — ";
   }
}

.Fixture-form--preset {
   text-align: center;

   & > .Form-item {
      margin-top: 0 !important;
      display: inline-block;
      text-align: start;
      float: none;
   }
}

.Game-score--submit {
   input {
      @include button($hue: 120, $sat: 50%);
   }

   text-align: center;
}

.Game-creaters {
   @include button-group($hue: 200);
   margin: 0;
}
